@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    background: #334155;
    font-family: 'Poppins', sans-serif;
}
a {
    text-decoration: none;
}
.container {
    width: 1140px;
    margin: 0 auto;
}
.header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 52px;
    background: rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.073);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    transition: background .3s ease;
}
.header.active {
    background: rgba(255, 255, 255, 0.088);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.header .navbar {
    width: 1140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo {
    font-size: 26px;
    font-weight: 800;
    letter-spacing: 1px;
    color: #dbeafe;
}
.navbar .title {
    font-size: 18px;
    font-weight: 500;
    color: #f2f8ff;
    text-transform: uppercase;
    text-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
}
.nav-right {
    display: flex;
    align-items: center;
}
.nav-right .flag-vn {
    width: 45px;
    height: 30px;
    overflow: hidden;
    border-radius: 4px;
    margin-left: 20px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
}
.nav-right .flag-vn svg {
    width: 100%;
    height: 100%;
}
.nav-right .switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 53px;
    height: 30px;
}
.nav-right .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.nav-right .switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(79, 47, 185, 0.5);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
    transition: .3s;
    border-radius: 30px;
}
.nav-right .switch .slider::before {
    position: absolute;
    content: "";
    height: 1.25em;
    width: 1.25em;
    border-radius: 50%;
    left: 10%;
    bottom: 15%;
    box-shadow: inset 8px -4px 0px 0px #a3dafb;
    background: rgba(76, 53, 152, 0);
    transition: .5s;
}
.switch input:checked + .slider {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur( 7px );
    -webkit-backdrop-filter: blur( 7px );
}
.switch input:checked + .slider:before {
    transform: translateX(100%);
    box-shadow: inset 15px -4px 0px 15px #ffcb5a;
}
.profile {
    padding: 94px 0 73px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card {
    position: relative;
    width: 640px;
    height: 250px;
    background: rgb(155, 180, 219);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}
.card::before {
    content: '';
    position: absolute;
    width: 700px;
    /* background-image: linear-gradient(180deg, rgb(57, 90, 173), rgb(57, 90, 173), rgb(29, 27, 95)); */
    background-image: linear-gradient(180deg, transparent, rgb(44, 77, 160), rgb(51, 47, 182), rgb(51, 47, 182), rgb(44, 77, 160), transparent);
    height: 100%;
    animation: rotBGimg 5s linear infinite;
    transition: all 0.2s linear;
}
@keyframes rotBGimg {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.card::after {
    content: '';
    position: absolute;
    background: rgb(51,65,85);
    background: linear-gradient(145deg, rgba(51,65,85,1) 0%, rgba(100,116,139,1) 71%, rgba(30,41,59,1) 100%);
    inset: 4px;
    border-radius: 14px;
}

.card_content,
.card-button {
    z-index: 1;
    display: flex;
    width: 100%;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card_content {
    margin-bottom: 32px;
}
.card-button {
    padding: 0 60px;
}
.card_content-avatar {
    width: 120px;
    height: 120px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}
.card_content-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s ease;
}
.card_content-avatar:hover img {
    transform: scale(1.2) translateX(10px);
}
.card_content-info .info-name {
    font-size: 14px;
    color: #21344f;
    font-weight: 600;
    background: rgba(255, 255, 255, 0.245);
    box-shadow: 0 8px 20px 0 rgba(50, 51, 80, 0.37);
    backdrop-filter: blur( 7px );
    -webkit-backdrop-filter: blur( 7px );
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 4px 6px;
    border-radius: 4px;
    margin-bottom: 14px;
}
.card_content-info .info-role {
    display: flex;
    align-items: start;
    flex-direction: column;
    row-gap: 5px;
    font-size: 12px;
    font-weight: 500;
}
.card_content-info .info-role span {
    padding: 2px 6px;
    border-radius: 4px;
    color: #f1f5f9;
    background: #4d60b6;
    border: 1px solid #6689ac;
}
.card_content-skills {
    position: relative;
    width: 260px;
    height: 110px;  
    background: rgba(255, 255, 255, 0.121);
    box-shadow: 0 8px 20px 0 rgba(50, 51, 80, 0.37);
    backdrop-filter: blur( 7px );
    -webkit-backdrop-filter: blur( 7px );
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.card_content-skills::after {
    position: absolute;
    content: 'Skills';
    top: -10px;
    font-size: 12px;
    color: #fff;
    background: #2a4365;
    padding: 0 5px;
    border-radius: 10px;
}
.card_content-skills .skill-icons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
    margin: 7px 0;
}
.card_content-skills svg {
    width: 30px;
    height: 30px;
    transition: all 0.2s ease-out;
}
.card_content-skills svg:hover {
    transform: scale(1.2);
}


.social-btn svg {
    height: 25px;
}
.social-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #cbd5e1;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    overflow: hidden;
    height: 50px;
    width: 200px;
    border-radius: 10px;
}
.social-btn::before, .social-btn::after {
    position: absolute;
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
    transition: 0.25s linear;
    z-index: 1;
}
.social-btn::before {
    content: "";
    left: 0;
    justify-content: flex-end;
    background-color: #4d60b6;
}
.social-btn::after {
    content: "";
    right: 0;
    justify-content: flex-start;
    background-color: #4453a6;
}
.social-btn:hover {
    box-shadow: 0 2px 6px rgba(0,0,0,0.5);
}
.social-btn:hover span {
    opacity: 0;
    z-index: -3;
}
.social-btn:hover::before {
    opacity: 0.5;
    transform: translateY(-101%);
}

.social-btn:hover::after {
    opacity: 0.5;
    transform: translateY(101%);
}
.social-btn span {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: whitesmoke;
    font-family: 'Fira Mono', monospace;
    font-size: 24px;
    font-weight: 700;
    opacity: 1;
    transition: opacity 0.25s;
    z-index: 2;
}
.social-btn .social-link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 100%;
    color: whitesmoke;
    font-size: 24px;
    text-decoration: none;
    transition: 0.25s;
}
.social-btn .social-link svg {
    text-shadow: 1px 1px rgba(31, 74, 121, 0.7);
    transform: scale(1);
}
.social-btn .social-link:hover {
    background-color: rgba(232, 236, 255, 0.774);
    animation: bounce_613 0.4s linear;
}
@keyframes bounce_613 {
    40% {
        transform: scale(1.4);
    }
    60% {
        transform: scale(0.8);
    }
    80% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
.card-button .add-friend-btn,
.card-button .about-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    overflow: hidden;
}
.card-button .add-friend-btn span,
.card-button .about-btn span {
    z-index: 20;
}
.add-friend-btn {
    background: #4d60b6;
}
.card-button .about-btn {
    background: #4453a6;
}
.about-btn::after,
.add-friend-btn::after {
    content: " ";
    width: 0%;
    height: 100%;
    background: rgba(38, 38, 38, 0.218);
    position: absolute;
    transition: all 0.3s ease-in-out;
    right: 0;
}
.about-btn::after {
    left: 0;
}
.add-friend-btn:hover,
.about-btn:hover {
    box-shadow: 0 2px 5px rgba(37, 39, 62, 0.5);
}
.about-btn:hover::after {
    left: auto;
    right: 0;
    width: 100%;
}
.add-friend-btn:hover::after {
    right: auto;
    left: 0;
    width: 100%;
}


/* Content */
.content {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
    background: linear-gradient(145deg, rgba(51,65,85,1) 0%, rgba(100,116,139,1) 71%, rgba(30,41,59,1) 100%);
    box-shadow: 0 8px 32px 0 rgba(37, 38, 54, 0.37);
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
    border-radius: 10px;
    outline: 4px solid rgba(219, 232, 251, 0.5);
    outline-offset: -4px;
}
.content::before {
    position: absolute;
    content: '';
    width: 400px;
    height: 20px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #8d9aae;
}
.content::after {
    position: absolute;
    content: 'Projects';
    color: #fff;
    height: 30px;
    top: -20px;
    left: 50%;
    font-size: 18px;
    font-weight: 500;
    padding: 0 50px;
    transform: translateX(-50%);
    border-radius: 6px;
    background-color: #4453a6;
}
.content-items {
    padding: 80px 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}
.content-items .item {
    position: relative;
    width: 300px;
    height: 180px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.137);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(232, 236, 255, 0.5);
    border-right: 1px solid rgba(232, 236, 255, 0.2);
    border-bottom: 1px solid rgba(232, 236, 255, 0.2);
    border-radius: 12px;
    overflow: hidden;
}
.content-items .item h2 {
    z-index: 99;
    position: absolute;
    bottom: 15px;
    right: 90px;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    pointer-events: none;
    transition: .2s ease;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
.content-items .item p {
    z-index: 99;
    position: absolute;
    bottom: 20px;
    right: 130px;
    width: 150px;
    color: #fff;
    opacity: 0;
    font-size: 10px;
    text-align: right;
    letter-spacing: 1px;
    transition: .2s ease;
}
.content-items .item span {
    z-index: 99;
    position: absolute;
    top: 30px;
    right: 20px;
    color: #eeeeee;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    writing-mode: vertical-lr;
    transition: .2s ease;
    opacity: 1;
}
.content-items .item .img {
    z-index: 100;
    width: 230px;
    height: 160px;
    background-size: cover;
    border-radius: 8px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    filter: grayscale(100%);
    overflow: hidden;
    transition: .3s;
}
.content-items .item .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content-items .item button {
    position: absolute;
    right: 15px;
    bottom: 20px;
    width: 30px;
    height: 30px;
    border: 1px solid #64748b;
    outline: none;
    border-radius: 30px;
    cursor: pointer;
    opacity: 1;
    transition: .3s ease;
}
.content-items .item:hover button {
    transform: scale(11);
    border: none;
    opacity: .5;
}
.content-items .item:hover h2 {
    right: 30px;
    bottom: 60px;
}
.content-items .item:hover p {
    opacity: 1;
    right: 35px;
}
.content-items .item:hover span {
    opacity: 0;
    top: 60px;
}
.content-items .item:hover .img {
    filter: grayscale(0);
    width: 280px;
}


/* FOOTER */
.footer {
    position: relative;
    width: 100%;
    height: 60px;
    bottom: 0;
    left: 0;
}
.footer .copyright {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 20px;
    width: 74%;
    height: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.footer .copyright p {
    font-size: 1rem;
    font-weight: 400;
    color: #f5f5f5;
    user-select: none;
}


/* Modal Style */
.modal-about {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}
.modal-inner {
    width: 600px;
    height: 200px;
    padding: 10px 10px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-right: 1px solid rgba(213, 213, 213, 0.2);
    border-bottom: 1px solid rgba(213, 213, 213, 0.2);
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    animation: openModal 0.2s ease;
}
.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 16px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}
.modal-header .about-me {
    color: #ffffff;
}
.btn-close-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.btn-close-modal svg {
    width: 30px;
    fill: #ffffff;
}
.btn-close-modal:hover svg {
    fill: #d7d7d7;
}
.modal-content {
    color: #ffffff;
    padding: 5px 16px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
}

.modal-about.hidden {
    display: none;
}
@keyframes openModal {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}