@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
}
html::-webkit-scrollbar {
    width: 0.5rem;
    background: transparent;
}
html::-webkit-scrollbar-thumb {
    border-radius: 0.25rem;
    background: linear-gradient(#00FF8F, #00bf72, #00A1FF);
}

/* Scroll Top */
.scroll-top {
    position: fixed;
    bottom: -100%;
    opacity: 0;
    right: 2rem;
    z-index: 1000;
    transition: 0.5s ease;
}
.scroll-top .fa-sharp {
    padding: 8px 11px;
    font-size: 1.3rem;
    color: #bbedff;
    background: #008793;
    border-radius: 0.2rem;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.scroll-top .fa-sharp:hover {
    background: #004d7a;
    color: #ffffff;
    transform: scale(1.1);
    transition: 0.3s ease;
}
.scroll-active {
    bottom: 2rem;
    opacity: 1;
    transition: 0.5s ease;
}

body {
    background: linear-gradient(45deg, #eee, #ccc);
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    min-height: 60px;
    width: 100%;
    background: linear-gradient(90deg, #452455 0%, #2B2969 100%);
    z-index: 1000;
}
.nav_logo {
    color: #fff;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 2px;
    text-decoration: none;
}
.nav_list {
    display: flex;
    width: 440px;
    justify-content: space-between;
}
.nav_list li {
    list-style: none;
    transition: all 0.3s linear;
}
.nav_list li a {
    position: relative;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
}
.nav_list li:hover:not(:last-child) {
    transform: translateY(-2px);
}
.nav_list li a.blog {
    padding: 5px 10px;
    background: linear-gradient(135deg, #00FF8F 0%, #00A1FF 100%);;
    border-radius: 14px;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
}
section h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    padding: 10px;
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.08);
}
#home {
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    flex-direction: column;
    gap: 20px;
}
#home p {
    padding: 20px;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-weight: 600;
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.08);
}
#about {
    background-image: linear-gradient(to right top, #6665ff, #ff45bf, #ff7571, #ffc147, #d6ff7a);
}
#contact {
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

.footer {
    background: linear-gradient(to right top, #ffc147, #008793);
    padding: 40px 0;
}
.footer .container {
    max-width: 1170px;
    margin: auto;
    padding: 10px;
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.179);
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.row ul {
    list-style: none;
}
.row .footer-col {
    width: 25%;
    padding: 0 15px;
}
.footer-col .content p {
    font-size: 12px;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 10px;
}
.footer-col .content h5 {
    color: #ffffff;
    transition: all 0.3s ease;
}
.footer-col .content h5:hover {
    padding-left: 6px;
    color: #051937;
}
.footer-col h4 {
    position: relative;
    font-size: 16px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-weight: 500;
}
.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    background: #b1b1b1;
    width: 50px;
    height: 2px;
}
.footer-col ul li:not(:last-child) {
    margin-bottom: 6px;
}
.footer-col ul li a {
    font-size: 12px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover {
    color: #051937;
    padding-left: 6px;
}
.footer-col .social-link a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background: rgba(255, 255, 255, 0.093);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    margin:0 8px 8px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.3s ease;
}
.footer-col .social-link a:hover {
    background:  #00879381;
}
.footer .cpr {
    max-width: 1170px;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    font-size: 13px;
    color: #ffffff;
    background: rgba(255, 255, 255, 0);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.179);
}

@media (max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}
@media (max-width: 547px) {
    .footer-col {
        width: 100%;
    }
}