@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    position: relative;
    display: flex;
    row-gap: 15px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.container .image {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.container .content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 150px;
}

.info-time {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 22px;
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.2);
    padding: 5px 20px;
    border-radius: 50px;
}

.info-time h4 {
    margin-left: 10px;
}

.info-time i {
    animation: spin 5s linear infinite;
}

.container header {
    color: #fff;
    font-size: 70px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 20px;
}

.container p {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    max-width: 600px;
    text-align: center;
}

.container .time-content {
    display: flex;
    column-gap: 30px;
    align-items: center;
    margin-bottom: 30px;
}

.time-content .time {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.2);
    width: 110px;
    height: 130px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 3px;
}
.time-content .time.days {
    width: 120px;
}
.time .number,
.time .text {
    font-weight: 500;
    color: #fff;
}

.time .number {
    font-size: 60px;
}

.time .text {
    text-transform: capitalize;
    font-size: 20px;
}

.social-content {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 30px;
}

.social-content p {
    margin-right: 12px;
    font-weight: 600;
    font-size: 22px;
    text-transform: uppercase;
}

.social-content .social-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
}

.social-content .social-box a {
    color: #fff;
    margin: 15px 10px;
    text-decoration: none;
    transition: all 0.4s ease;
}

.social-box a:hover {
    transform: scale(1.2);
    transition: all 0.4s ease;
}

.social-box a:nth-child(1):hover {
    color: #00b4d8;
}

.social-box a:nth-child(2):hover {
    color: #9b5de5;
}

.social-box a:nth-child(3):hover {
    color: #e63946;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 1920px) {
    .container .time-content {
        position: absolute;
        bottom: 280px;
        transition: all 0.5s ease;
    }
}

@media screen and (max-width: 1024px) {
    .container header {
        font-size: 60px;
        transition: all 0.5s ease;
    }

    .container .time-content {
        position: absolute;
        bottom: 280px;
        transition: all 0.5s ease;
    }
}

@media screen and (max-width: 860px) {
    .container header {
        font-size: 40px;
        transition: all 0.5s ease;
    }

    .container .time-content {
        position: absolute;
        bottom: 280px;
        transition: all 0.5s ease;
    }
}

@media screen and (max-width: 740px) {
    .container header {
        font-size: 40px;
        transition: all 0.5s ease;
    }

    .container p {
        font-size: 16px;
        max-width: 400px;
        transition: all 0.5s ease;
    }

    .info-time {
        font-size: 18px;
    }

    .container .time-content {
        position: absolute;
        bottom: 300px;
        column-gap: 15px;
        transition: all 0.5s ease;
    }
    .time-content .time {
        width: 80px;
        height: 100px;
    }
    .time-content .time.days {
        width: 90px;
    }
    .time .number {
        font-size: 40px;
    }
    
    .time .text {
        text-transform: capitalize;
        font-size: 15px;
    }

}

@media screen and (max-width: 381px) {
    .container header {
        font-size: 30px;
        transition: all 0.5s ease;
    }

    .container p {
        font-size: 14px;
        transition: all 0.5s ease;
    }

    .info-time {
        font-size: 15px;
    }

    .container .time-content {
        position: absolute;
        bottom: 200px;
        column-gap: 15px;
        transition: all 0.5s ease;
    }

    .time-content .time {
        width: 60px;
        height: 80px;
    }

    .time-content .time.days {
        width: 70px;
    }
    .time .number {
        font-size: 30px;
    }
}