* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.container {
    color: #ffffff;
    background: #2f2f2f;
    padding: 15px 10px;
    border-radius: 10px;
    text-align: center;
}
.container h1 {
    color: #ff7777;
}